#c1 , #c2, #c3, #c4, #c5{
    font-size: small;
    color: red;
    font-weight: bolder;
  }
#c6{
  color: blue;
}
  .mid{
          text-align: center;
          padding: 10px;
          
      }